.terminal {
  position: relative;
  width: 75rem;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: rgb(15, 15, 16);
  height: 30rem;
  overflow: auto;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
  overflow: auto;
  min-height: 30rem;
}

.log-level {
  width: 6rem;
}
